@media(min-width: 1680px){
    .container{
        max-width: 1600px;
    }

    .sec_header h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .middleLinks li a{
        font-size: 32px;
    }

    .firstLink a,
    .lastLink a,
    #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 125px;
    }

    .introduction_area .intro_txt h3 {
        font-size: 48px;
        line-height: 72px;
    }

    .introduction_area .intro_txt p {
        font-size: 24px;
        line-height: 44px;
        width: 85%;
    }

    #feature_slider .owl-stage-outer .owl-stage .owl-item .item .feature_text{
        font-size: 20px;
        line-height: 30px;
    }

    .project_name a{
        font-size: 20px;
    }

    .project_list .project_column{
        flex: 0 0 31.33%;
        max-width: 31.33%;
    }

    .inner_our_principal_partner .pricipal_partner_img img,
    .inner_our_award .our_award_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .principal_partner_content p, .our_award_content p{
        font-size: 26px;
        line-height: 46px;
    }

    .principal_partner_content a, .our_award_content a{
        font-size: 26px;
        line-height: 36px;
    }

    .youtube_video iframe{
        height: 680px;
        width: 100%;
    }

    .accordion_card .accordion_content img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .accordion_card .accordion_header h3{
        font-size: 22px;
        line-height: 38px;
    }

    .accordion_card .accordion_header svg{
        font-size: 20px;
    }

    .blogs_flex_area .blog_column, .news_column{
        flex: 25%;
        max-width: 25%;
    }



    .blogs_flex_area .blog_content .blog_name, .blogs_flex_area .blog_content .blog_name a {
        font-size: 24px;
        line-height: 30px;
    }

    .blogs_flex_area .blog_content .blog_date_category, .blogs_flex_area .blog_content .blog_date_category span{
        font-size: 17px;
    }

    .blogs_flex_area .blog_content .blog_description p, .blogs_flex_area .blog_content .blog_description a.blogReadMore{
        font-size: 18px;
    }

    .news_column .news_content .news_date,
    .news_column .news_content .news_para{
        font-size: 20px;
        line-height: 32px;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_content p,
    .inner_principals_main .left_pricipal_content,
    .inner_principals_main .right_pricipal_content{
        font-size: 24px;
        line-height: 40px;
    }

    .our_team_area .our_team_content p{
        font-size: 30px;
        line-height: 55px;
    }

    .team_partners .individual_column .partner_content .author{
        font-size: 22px;
        line-height: 32px;
    }

    .team_partners .individual_column .partner_content .designation{
        font-size: 18px;
        line-height: 30px;
    }

    .news_details_content h3 {
        font-size: 44px;
        line-height: 60px;
        margin: 0 0 40px;
    }

    .news_details_content p {
        font-size: 24px;
        line-height: 32px;
    }

    .news_details_gallary .img_gallary_column{
        height: 425px;
    }

    .tab_panels .tabs li {
        font-size: 20px;
        line-height: 30px;
    }

    .project_left_detail .project_description{
        font-size: 24px;
        line-height: 38px;
    }

    .project_right_detail .info_content .name{
        font-size: 30px;
        line-height: 40px;
    }

    .project_right_detail .info_content .locality,
    .project_right_detail .info_content .size,
    .project_right_detail .info_content .yr,
    .floor_plan_area .team_credit{
        font-size: 19px;
        line-height: 30px;
    }

    .inner_footer{
        font-size: 18px;
    }

    .footer_right_sec .social_link ul li{
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 768px;
    }
}

@media (max-width: 1200px){
    .team_partners .individual_column .partner_img {
        height: 320px;
    }

    .career_success_story .sucess_story_points ul li{
        font-size: 16px;
        padding: 0 10px;
    }
}

@media (max-width: 991px){

    .studio_area, .blogs_listing_area {
        padding: 120px 0 80px;
    }

    .award_area {
        padding: 120px 0 30px;
    }

    .introduction_area .intro_txt h3{
        font-size: 32px;
        line-height: 56px;
    }

    .introduction_area .intro_txt p{
        font-size: 16px;
        line-height: 29px;
    }

    .news_announcement_area .sec_header,
    .studio_area .sec_header,
    .award_area .sec_header,
    .blogs_listing_area .sec_header,
    .news_announcement_area .sec_header{
        margin-bottom: 70px;
    }

    .firstLink a, .lastLink a, #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 75px;
    }

    .middleLinks li a{
        font-size: 24px;
    }

    .middleLinks li:not(:last-child){
        margin-right: 45px;
    }

    .project_list .project_column{
        height: 400px;
    }

    .footer_area .container{
        max-width: 100%;
    }

    .project_toggle{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .tab_panels{
        position: relative;
    }

    .tab_panels .tabs{
        position: absolute;
        display: block;
        z-index: 1;
        width: 100%;
        background: #fff;
        padding: 15px;
        box-shadow: 1px 1px 5px #e6e6e6;
        transition: .5s ease-in-out all;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .tab_panels .tabs.showTabs{
        height: fit-content;
        opacity: 1;
        visibility: visible;
        
    }

    .tab_panels .tabs li{
        padding: 8px 0;
    }
    .panel .img_grid .img_column .project_img{
        height: 250px;
    }

    .project_listing_area {
        padding: 100px 0 70px;
    }

    .project_details_content .project_left_detail .project_description{
        font-size: 16px;
    }

    .youtube_video iframe{
        height: 432px;
        width: 100%;
    }

    .principal_partner_content p,
    .our_award_content p,
    .principal_partner_content a,
    .our_award_content a{
        font-size: 16px;
        line-height: 31px;
    }

    .principal_partner_content a,
    .our_award_content a{
        line-height: 25px;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_content,
    .inner_introduction_pricipal_partner .introduction_pricipal_partner_img{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .team_partners .individual_column .partner_img {
        height: 250px;
    }

    .team_partners .individual_column .partner_content .designation{
        font-size: 14px;
        line-height: 24px;
    }

    .accordion_card .accordion_header h3{
        font-size: 16px;
    }

    .accordion_card{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .contact_description .phone span:nth-child(1),
    .contact_description .email span:nth-child(1),
    .contact_description .phone span a,
    .contact_description .email span a,
    .office_add,
    .enquiry_para,
    .office_list span a,
    .navigation_link,
    .contact_form form button,
    .contact_form form input::placeholder,
    .contact_form form input{
        font-size: 16px;
        line-height: 25px;
    }

    .news_column .news_img{
        height: 300px;
    }

    .news_announcement_area{
        padding: 160px 0 60px;
    }

    .news_details_content h3{
        font-size: 28px;
        line-height: 46px;
    }

    .news_details_content p{
        width: 80%;
        font-size: 16px;
    }

    .news_details_gallary .img_gallary_column{
        height: 280px;
    }

    .news_details_content{
        margin-bottom: 120px;
    }

    .blogs_flex_area .blog_column .blog_img{
        height: 330px;
    }

    .blogs_details_content .blog_details_left .blog_title{
        font-size: 32px;
        line-height: 48px;
    }

    .blogs_details_content .blog_details_left p{
        font-size: 16px;
    }

    .blogs_details_content .blog_details_left{
        flex: 0 0 70%;
        max-width: 70%;
        padding-right: 30px;
    }

    .blogs_details_content .blog_details_right{
        flex: 0 0 30%;
        max-width: 30%;
    }

    .blogs_details_content .blog_details_right .specifc_category_blogs_list .category_blog_list,
    .blogs_details_content .blog_details_right .blogs_category .category_header{
        font-size: 15px;
    }

    .blogs_details_content .blog_details_right .specifc_category_blogs_list .list_blogs li a,
    .blogs_details_content .blog_details_right .blogs_category .category_list li a,
    .blogs_breadcrumb a{
        font-size: 14px;
    }

    .inner_main_career_info .career_company_content .career_para p{
        font-size: 16px;
        line-height: 30px;
    }

    .career_form form .form_element{
        flex: 0 0 48%;
        max-width: 48%;
    }

    .career_form form .form_element input::placeholder,
    .sort_box p,
    .sort_option_area ul li,
    .cover_letter label:nth-child(1), .resume label:nth-child(1){
        font-size: 16px;
    }

    .career_success_story .career_success_header h3{
        font-size: 32px;
        line-height: 62px;
    }

    .career_success_story .sucess_story_points ul li{
        margin-bottom: 25px;
    }

    .career_success_story .sucess_story_points ul li:nth-child(5){
        padding-left: 10px;
    }
    .career_success_story .sucess_story_points ul li:nth-child(4){
        padding-left: 0;
        padding-right: 10px;
    }

    .career_success_story .sucess_story_points ul li:nth-child(3),
    .career_success_story .sucess_story_points ul li:nth-child(6){
        border-right: none;
    }

    .career_success_story .sucess_story_points ul li:nth-child(4){
        border-right: 1px solid #E30016;
    }
}

@media (max-width: 767px){

    .studio_area, .blogs_listing_area {
        padding: 100px 0 60px;
    }

    .award_area {
        padding: 100px 0 20px;
    }

    .news_announcement_area .sec_header,
    .studio_area .sec_header,
    .award_area .sec_header,
    .blogs_listing_area .sec_header,
    .news_announcement_area .sec_header{
        margin-bottom: 40px;
    }

    .firstLink a, .lastLink a, #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 60px;
    }

    .middleLinks li a{
        font-size: 20px;
    }

    .middleLinks li:not(:last-child){
        margin-right: 30px;
    }

    .inner_footer{
        flex-direction: column;
    }

    .footer_left_sec{
        margin-bottom: 10px;
    }

    .project_list .project_column{
        height: 350px;
    }

    .introduction_area{
        padding: 180px 0;
    }

    .introduction_area .intro_txt h3{
        font-size: 32px;
        line-height: 50px;
    }

    .introduction_area .intro_txt p{
        font-size: 16px;
        line-height: 28px;
    }

    .panel .img_grid .img_column{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }

    .project_details_content{
        flex-wrap: wrap;
    }

    .project_details_content .project_right_detail{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .project_details_content .project_left_detail{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .youtube_video iframe{
        height: 332px;
        width: 100%;
    }

    .inner_our_principal_partner, .inner_our_award{
        flex-wrap: wrap;
    }

    .inner_our_principal_partner .pricipal_partner_img,
    .inner_our_award .our_award_img,
    .inner_our_principal_partner .principal_partner_content,
    .inner_our_award .our_award_content{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_our_principal_partner .principal_partner_content,
    .inner_our_award .our_award_content{
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }

    .inner_introduction_pricipal_partner{
        flex-direction: column-reverse;
        height: unset;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_content{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_img{
        width: 100%;
        max-width: 100%;
        height: 650px;
        overflow: hidden;
        margin: 0 auto 20px;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_img img{
        height: 450px;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_content p{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .our_team_area .our_team_content{
        padding: 70px 0;
    }

    .our_team_area .our_team_content p{
        font-size: 22px;
        line-height: 36px;
        width: 80%;
    }
    

    .team_partners .individual_column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 50px;
        padding-right: 0;
    }


    .team_partners .individual_column:not(:nth-child(4)){
        padding-right: 0px
    }

    .team_partners .individual_column:not(:nth-child(3n)){
        padding-right: 15px;
    }
    
    .inner_principals_main{
        padding: 100px 0;
    }

    .principals_main_area .container{
        max-width: 100%;
    }

    .inner_principals_main .left_pricipal_content, .inner_principals_main .right_pricipal_content {
        font-size: 16px;
        line-height: 28px;
    }

    .principal_partner_content p, .our_award_content p, .principal_partner_content a, .our_award_content a{
        font-size: 14px;
        line-height: 26px;
    }

    .inner_principals_main .left_principal_main{
        padding-right: 20px;
    }

    .inner_principals_main .right_principal_main{
        padding-left: 20px;
    }

    .inner_contact_sec{
        flex-wrap: wrap;
    }

    .inner_contact_sec .contact_info, .inner_contact_sec .contact_form{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_contact_sec .contact_info{
        padding-right: 0;
    }

    .inner_contact_sec .contact_form{
        padding-left: 0;
    }

    .contact_description {
        margin: 10px 0 30px;
    }

    .navigation_link{
        margin-bottom: 30px;
    }

    .contact_form{
        margin-top: 35px;
    }

    .contact_form form input{
        width: 100%;
    }

    .inner_contact_sec{
        padding: 100px 0 80px;
    }

    .news_column{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 40px;
    }

    .news_announcement_area{
        padding: 140px 0 40px;
    }

    .news_details_content h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .news_details_content p {
        font-size: 15px;
    }

    .news_details_gallary .img_gallary_column{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .news_details_content{
        margin-bottom: 100px;
    }

    .blogs_flex_area .blog_column{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 40px;
    }

  

    .blogs_flex_area .blog_column .blog_img{
        height: 330px;
    }

    .blogs_details_content{
        margin: 30px 0 80px;
    }

    .blogs_details_content .blog_details_left .blog_title{
        margin-bottom: 25px;
        font-size: 28px;
    }

    .blogs_details_content .blog_details_left{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }

    .blogs_details_content .blog_details_left p{
        font-size: 14px;
    }

    .blogs_details_content .blog_details_right{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 25px;
    }

    .blogs_details_content .blog_details_right .specifc_category_blogs_list .list_blogs li a, .blogs_details_content .blog_details_right .blogs_category .category_list li a, .blogs_breadcrumb a{
        font-size: 13px;
    }

    .blogs_details_content .blog_details_right .specifc_category_blogs_list,
    .blogs_details_content .blog_details_right .blogs_category{
        width: 100%;
    }

    .career_main_info{
        height: 100%;
    }

    .inner_main_career_info{
        flex-wrap: wrap;
    }

    .inner_main_career_info .career_company_img{
        height: 100vh;
    }

    .inner_main_career_info .career_company_img,
    .inner_main_career_info .career_company_content{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_main_career_info .career_company_content{
       margin: 30px 0;
        padding-left: 0 !important;
        text-align: center;
    }

    .inner_main_career_info .career_company_content .career_para{
        width: 60%;
        margin: 0 auto;
    }

    .career_form form .form_element{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .career_success_story .career_success_header h3 {
        font-size: 28px;
        line-height: 46px;
    }

    .career_success_story .sucess_story_points ul li:nth-child(even),
    .career_success_story .sucess_story_points ul li:nth-child(4){
        padding-right: 0;
        border-right: none;
    }

    .career_success_story .sucess_story_points ul li:nth-child(3){
        border-right: 1px solid #E30016;
    }

    .career_success_story .sucess_story_points ul li:nth-child(odd){
        padding-left: 0;
    }

    .career_success_story .sucess_story_points ul li:nth-child(4){
        padding-left: 10px;
    }

    .accordion_card .accordion_header h3,
    .accordion_card .accordion_header svg,
    .news_column .news_content .news_date,
    .news_column .news_content .news_para{
        font-size: 14px;
    }

    .project_listing_area .container{
        padding-left: 0;
        padding-right: 0;
    }

    .project_right_detail .info_content .locality,
    .project_right_detail .info_content .size,
    .project_right_detail .info_content .yr,
    .project_details_content .project_left_detail .project_description{
        font-size: 14px;
    }

    .project_details_content .project_left_detail .project_description {
        line-height: 26px;
    }
}

@media (max-width: 600px){
    .news_announcement_area .sec_header,
    .studio_area .sec_header{
        margin-bottom: 30px;
    }

    .firstLink a, .lastLink a, #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 45px;
    }
    .middleLinks{
        flex-wrap: wrap;
    }
    .middleLinks li{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .middleLinks li:not(:last-child){
        margin-right: 0;
    }

    .inner_footer{
        font-size: 11px;
    }

    .footer_right_sec{
        flex-wrap: wrap;
        justify-content: center;
    }

    .tel_div, .email_div{
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #feature_slider .owl-stage-outer .owl-stage .owl-item .item .feature_text p{
        text-align: center;
    }

    #feature_slider .owl-nav{
        position: unset;
    }

    .project_list .project_column{
        height: 270px;
    }

    .introduction_area .intro_txt h3{
        font-size: 28px;
        line-height: 46px;
    }

    .introduction_area .intro_txt p{
        font-size: 15px;
        line-height: 26px;
    }

    .panel .img_grid .img_column .project_img {
        height: 200px;
    }

    .inner_introduction_pricipal_partner .introduction_pricipal_partner_img img{
        height: 350px;
    }

    

    .team_partners .individual_column{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 50px;
        padding-right: 0;
    }

    .team_partners .individual_column:not(:nth-child(3n)){
        padding-right: 0px;
    }

    .team_partners .individual_column:not(:nth-child(2n)){
        padding-right: 15px;
    }

    .team_partners .individual_column:last-child{
        padding-right: 0;
    }

    .our_team_area .our_team_content p{
        font-size: 18px;
        line-height: 28px;
        width: 90%;
    }

    .principal_header-02{
        display: block;
    }

    .principal_header-01{
        display: none;
    }

    .inner_principals_main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .inner_principals_main .left_principal_main, .inner_principals_main .right_principal_main{
        flex: 0 0 100%;
        max-width: 100%;
    }


    .inner_principals_main .left_principal_main,
    .inner_principals_main .right_principal_main{
        padding: 0;
    }

    .inner_principals_main .right_principal_main{
        padding-bottom: 20px;
        border-bottom: 0.3px solid #e6e6e6;
    }

    .inner_principals_main .left_principal_main{
        padding-top: 20px;
    }

    .contact_description .phone, .contact_description .email{
        flex-direction: column;
        -webkit-align-items: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .contact_description .phone span:nth-child(1), .contact_description .email span:nth-child(1){
        border-right: none;
    }

    .contact_description .phone span:nth-child(2), .contact_description .email span:nth-child(2){
        padding-left: 0;
    }

    .news_column .news_content .news_date, .news_column .news_content .news_para, .readMore{
        font-size: 14px;
    }



    .news_announcement_area{
        padding: 100px 0 30px;
    }

    .news_details_content h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .news_details_content p {
        font-size: 14px;
    }

    .news_details_area .news_date{
        font-size: 14px;
    }

    .blogs_flex_area .blog_content .blog_name, .blogs_flex_area .blog_content .blog_name a{
        font-size: 16px;
    }

    .blogs_flex_area .blog_content .blog_date_category span{
        display: block;
        padding: 0 !important;
        border: none !important;
        font-size: 12px;
    }

    .blogs_flex_area .blog_content .blog_description p{
        font-size: 14px;
        line-height: 25px;
    }

    .blogs_flex_area  .blog_content .blog_description a.blogReadMore{
        font-size: 14px;
    }

    .career_success_story .career_success_header h3{
        font-size: 26px;
        line-height: 44px;
        text-align: left;
    }

    .inner_main_career_info .career_company_content .career_para{
        width: 90%;
    }

    .inner_main_career_info .career_company_content .career_para p,
    .career_form form .form_element input::placeholder,
    .sort_box p, .sort_option_area ul li,
    .cover_letter label:nth-child(1),
    .resume label:nth-child(1){
        font-size: 14px;
    }

    .career_success_story .sucess_story_points ul{
        flex-direction: column;
    }

    .career_success_story .sucess_story_points ul li{
        border-right: none !important;
        padding-left: 0 !important;
        padding-left: 10px !important;
        border-left: 2px solid #E30016 !important;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px){
    .news_column .news_img{
        height: 180px;
    }

    .blogs_flex_area .blog_column .blog_img{
        height: 250px;
    }

    .letter-flex{
        flex-wrap: wrap;
    }

    .cover_letter, .resume{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cover_letter{
        margin-bottom: 20px;
    }

    .readMore{
        width: 102px;
        font-size: 13px;
    }
}