@media(min-width: 2000px){
    .container{
        max-width: 1700px;
    }

    .youtube_video iframe{
        height: 680px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 768px;
    }
}

@media (max-width: 991px){
    .firstLink a, .lastLink a, #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 75px;
    }

    .middleLinks li a{
        font-size: 24px;
    }

    .middleLinks li:not(:last-child){
        margin-right: 45px;
    }

    .project_list .project_column{
        height: 400px;
    }

    .footer_area .container{
        max-width: 100%;
    }

    .tab_panels{
        position: relative;
    }

    .tab_panels .tabs{
        position: absolute;
        display: block;
        z-index: 1;
        width: 100%;
        background: #fff;
        padding: 15px;
        box-shadow: 1px 1px 5px #e6e6e6;
        transition: .5s ease-in-out all;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .tab_panels .tabs.showTabs{
        height: fit-content;
        opacity: 1;
        visibility: visible;
        
    }

    .tab_panels .tabs li{
        padding: 8px 0;
    }
    .panel .img_grid .img_column .project_img{
        height: 250px;
    }

    .project_listing_area {
        padding: 100px 0 70px;
    }

    .project_details_content .project_left_detail .project_description{
        font-size: 16px;
    }

    .youtube_video iframe{
        height: 432px;
        width: 100%;
    }

    .principal_partner_content p,
    .our_award_content p,
    .principal_partner_content a,
    .our_award_content a{
        font-size: 16px;
        line-height: 31px;
    }

    .principal_partner_content a,
    .our_award_content a{
        line-height: 25px;
    }
}

@media (max-width: 767px){
    .firstLink a, .lastLink a, #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 60px;
    }

    .middleLinks li a{
        font-size: 20px;
    }

    .middleLinks li:not(:last-child){
        margin-right: 30px;
    }

    .inner_footer{
        flex-direction: column;
    }

    .footer_left_sec{
        margin-bottom: 10px;
    }

    .project_list .project_column{
        height: 350px;
    }

    .introduction_area{
        padding: 180px 0;
    }

    .introduction_area .intro_txt h3{
        font-size: 32px;
        line-height: 50px;
    }

    .introduction_area .intro_txt p{
        font-size: 16px;
        line-height: 28px;
    }

    .panel .img_grid .img_column{
        flex: 0 0 48%;
        max-width: 48%;
    }

    .project_details_content{
        flex-wrap: wrap;
    }

    .project_details_content .project_right_detail{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .project_details_content .project_left_detail{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .youtube_video iframe{
        height: 332px;
        width: 100%;
    }

    .inner_our_principal_partner, .inner_our_award{
        flex-wrap: wrap;
    }

    .inner_our_principal_partner .pricipal_partner_img,
    .inner_our_award .our_award_img,
    .inner_our_principal_partner .principal_partner_content,
    .inner_our_award .our_award_content{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_our_principal_partner .principal_partner_content,
    .inner_our_award .our_award_content{
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }
    
}

@media (max-width: 600px){

    .firstLink a, .lastLink a, #home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
        font-size: 45px;
    }
    .middleLinks{
        flex-wrap: wrap;
    }
    .middleLinks li{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .middleLinks li:not(:last-child){
        margin-right: 0;
    }

    .inner_footer{
        font-size: 11px;
    }

    .footer_right_sec{
        flex-wrap: wrap;
        justify-content: center;
    }

    .tel_div, .email_div{
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #feature_slider .owl-stage-outer .owl-stage .owl-item .item .feature_text p{
        text-align: center;
    }

    #feature_slider .owl-nav{
        position: unset;
    }

    .project_list .project_column{
        height: 270px;
    }

    .introduction_area .intro_txt h3{
        font-size: 28px;
        line-height: 46px;
    }

    .introduction_area .intro_txt p{
        font-size: 15px;
        line-height: 26px;
    }

    .panel .img_grid .img_column .project_img {
        height: 200px;
    }
}

