html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Outfit', sans-serif;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sec_header h3{
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	color: #414141;
	text-transform: uppercase;
	letter-spacing: 0.225em;
	margin-bottom: 10px;
}


/* Loading Main Content */
.preloader_area{
	display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

/* .loading_time{
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in all;
} */

.animateSpiral{
	transition: 1s ease-in all;
	animation: showSpiral 5s linear;
}

@keyframes showSpiral {
	from {
		visibility: hidden;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}



/* .loading_time.showWeb{
	display: block;
	opacity: 1;
	visibility: visible;
} */

.logo_animation_area, .logo_text-animation, .logo_text{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.logo_animation_area .letter:nth-child(3){
	padding-top: 4px;
}

.logo_animation_area .letter{
	margin: 0 7px;
}

.logo_text-animation{
	margin-top: 20px;
}

.text_two img.dot, .text_three img.dot{
	margin: 0 15px;
}



/* Header Css */
header{
	height: 100%;
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 50;
	transition: .65s ease-in-out all;
}

header.showHeader{
	left: 0;
}

nav{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	flex-wrap: wrap;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .75s ease-in-out all;
}

nav.showNav{
	opacity: 1;
	visibility: visible;
}

.firstLink, .lastLink{
	flex: 0 0 100%;
    max-width: 100%;
    height: 50%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.firstLink a, .lastLink a{
	text-decoration: none;
	color: #383336;
	font-family: 'Outfit', sans-serif;
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;
}

.middleLinks{
	margin-bottom: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.middleLinks li a{
	text-decoration: none;
	color: #383336;
	font-family: 'Outfit', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 46px;
	text-transform: uppercase;
}

.middleLinks li:not(:last-child){
	margin-right: 60px;
}

.nav-toggler{
	position: fixed;
	top: 24px;
	right: 24px;
	z-index: 99;
	cursor: pointer;
}

.close_navbar{
	position: absolute;
	cursor: pointer;
	height: 40px;
	width: 40px;
	border: 1px solid #E30016;
	border-radius: 100px;
	z-index: 100;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.close_navbar svg{
	color: #E30016;
	font-size: 30px;
}

/* Slider Css */
.slider_area,
#home_slider,
#home_slider .owl-stage-outer,
#home_slider .owl-stage-outer .owl-stage,
#home_slider .owl-stage-outer .owl-stage .owl-item,
#home_slider .owl-stage-outer .owl-stage .owl-item .item{
	height: 100vh;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item{
	position: relative;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item.opacity_slide::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	display: block;
	z-index: 0;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item img{
	height: 100vh;
	object-fit: cover;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	flex-wrap: wrap;
	z-index: 1;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text{
	flex: 0 0 100%;
    max-width: 100%;
    height: 50%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
	text-decoration: none;
	color: #fff;
	font-family: 'Outfit', sans-serif;
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;
}

#home_slider .owl-dots{
	margin-top: 0;
	position: absolute;
	width: 100%;
	bottom: 20px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

#home_slider .owl-dots .owl-dot:focus{
	border: none;
	box-shadow: none;
	outline: none;
}

#home_slider .owl-dots .owl-dot{
	/* pointer-events: none; */
	position: relative;
}

#home_slider .owl-dots .owl-dot.active span{
	background: #E30016;
}

#home_slider .owl-dots .owl-dot:not(:last-child).active::after{
	content: '';
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 15px;
	background: #fff;
}

#home_slider .owl-dots .owl-dot:not(:last-child).active::before{
	content: '';
	position: absolute;
	left: 17px;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	background: #E30016;
	z-index: 1;
	animation: fill 5s linear;
}

#home_slider .owl-dots .owl-dot span{
	background: transparent;
	border: 1px solid #fff;
}


  
  @keyframes fill {
	0% {
	  width: 0%;
	}
	100% {
	  width: 15px;
	}
}

#home_slider .owl-dots .owl-dot:last-child span{
	height: 15px;
	width: 15px;
	border: 2px solid #fff;
	background: #E30016;
}

/* Introduction Css */
.introduction_area{
	padding: 280px 0;
	background: url('../image/spiral_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.introduction_area .intro_txt h3{
	font-family: 'Outfit', sans-serif;
	font-size: 38px;
	line-height: 62px;
	text-align: center;
	color: #000;
}

.introduction_area .intro_txt p{
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	line-height: 31px;
	color: #414141;
	text-align: center;
	width: 90%;
    margin: 20px auto 0;
}

/* Featured Project Css */
.featured_area{
	height: 100vh;
	/* background: #414141; */
}

#feature_slider,
#feature_slider .owl-stage-outer,
#feature_slider .owl-stage-outer .owl-stage,
#feature_slider .owl-stage-outer .owl-stage .owl-item{
	height: calc(100vh - 52px);
}

#feature_slider .owl-stage-outer .owl-stage .owl-item .item img{
	height: calc(100vh - 85px);
	object-fit: cover;
}

#feature_slider .owl-stage-outer .owl-stage .owl-item .item{
	height: calc(100vh - 85px);
}


#feature_slider .owl-stage-outer .owl-stage .owl-item .item .feature_text{
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	color: #414141;
	letter-spacing: 1.5px;
	margin-top: 10px;
}


#feature_slider .owl-nav {
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: -2px;
}

#feature_slider .owl-nav button::after{
	content: '';
	width: 15px;
	height: 15px;
	background: #414141;
	opacity: 0.5;
	position: absolute;
	border-radius: 100px;
	display: none;
}

#feature_slider .owl-nav button{
	background: none;
}

#feature_slider .owl-nav button:focus{
	background: none;
	box-shadow: none;
	border: none;
	outline: none;
}


/* Projects Area Css */
.projects_area{
	padding: 100px 0 80px;
}

.project_list{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.project_list .project_column{
	flex: 0 0 48%;
	max-width: 48%;
	height: 600px;
	margin-bottom: 40px;
	position: relative;
	transition: 0.2s ease-in all;
}

.project_list .project_column::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	visibility: 0;
	transition: 0.2s ease all;
}


.project_list .project_column .project_img{
	overflow: hidden;
	height: 100%;
}

.project_list .project_column .project_img a{
	display: block;
	height: 100%;
}

.project_list .project_column .project_img img{
	width: 100%;
	max-width: unset !important;
	object-fit: cover;
	height: 100%;
	transition: 0.5s ease all;
}

.project_name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	height: 100%;
}

.project_name a{
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 27px;
	opacity: 0;
	visibility: 0;
	transition: 0.5s ease all;
	text-decoration: none;
	letter-spacing: 1.5px;
	width: 100%;
	height: 100%;
	display: inline-block;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.project_list .project_column:hover{
	/* transform: translateY(-5px); */
	transform: scale(.98);
}

.project_list .project_column:hover::before{
	opacity: 0.6;
	z-index: 1;
}


.project_list .project_column:hover .project_name a{
	opacity: 1;
	visibility: 1;
}

.project_list .project_column:hover .project_img img{
	transform: scale(1.05);
}

/* Footer Css */
.inner_footer{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	font-size: 13px;
	padding: 20px 0;
}

.footer_right_sec{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	color: #383336;
}

.tel_div, .email_div{
	margin-right: 30px;
}

.tel_div a, .email_div a{
	color: #383336;
	text-decoration: none;
}

.email_div a{
	text-transform: uppercase;
}

.footer_right_sec .social_link ul{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.footer_right_sec .social_link ul li{
	height: 26px;
	width: 26px;
	border: 1px solid #383336;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.footer_right_sec .social_link ul li a{
	color: #383336;
}

.footer_right_sec .social_link ul li:not(:last-child){
	margin-right: 10px;
}


/* Project Page Css */
.project_listing_area{
	padding: 150px 0 100px;
}



.tab_panels .tabs{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	margin-bottom: 80px;
}

.tab_panels .tabs li{
	font-size: 15px;
	line-height: 25px;
	cursor: pointer;
	color: #000;
	position: relative;
}

.tab_panels .tabs li.active::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #E30016;
	left: 0;
	bottom: 0;
	display: block;
}

.panel{
	display: none;
}

.panel.active{
	display: block;
}

.panel .img_grid{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
}

.panel .img_grid .img_column{
	flex: 0 0 31%;
	max-width: 31%;
	margin-bottom: 60px;
}

.panel .img_grid .img_column .project_img{
	height: 350px;
	overflow: hidden;
	position: relative;
}

.panel .img_grid .img_column .project_img::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	left: 0;
	top: 0;
	transition: 0.5s ease-in-out all;
}

.panel .img_grid .img_column img{
	max-width: unset;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease-in-out all;
}

.panel .img_grid .img_column .project_img:hover img{
	transform: scale(1.1);
}

.panel .img_grid .img_column .project_img:hover::after{
	opacity: 0.36;
}

.panel .img_grid .img_column .project_identity a{
	font-size: 15px;
	font-weight: 200;
	color: #000;
	line-height: 24px;
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
}

.panel .img_grid .img_column .project_identity a:hover{
	color: #E30016;
}

.project_toggle{
	height: 40px;
	width: 40px;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	border: 1px solid #E30016;
	margin-bottom: 15px;
	cursor: pointer;
}

.project_toggle{
	display: none;
}

.project_toggle svg{
	color: #E30016;
	font-size: 30px;
}

/* Project Details Css */

#project_detail_slider,
#project_detail_slider .owl-stage-outer,
#project_detail_slider .owl-stage-outer .owl-stage,
#project_detail_slider .owl-stage-outer .owl-stage .owl-item,
#project_detail_slider .owl-stage-outer .owl-stage .owl-item .item{
	height: 80vh;
}

#project_detail_slider .owl-stage-outer .owl-stage .owl-item .item img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#project_detail_slider .owl-nav{
	margin-top: 0;
	position: absolute;
	bottom: 17px;
	right: 17px;
}

#project_detail_slider .owl-nav .owl-prev,
#project_detail_slider .owl-nav .owl-next{
	height: 33px;
	width: 33px;
	border: 1px solid #fff;
	border-radius: 100px;
}

#project_detail_slider .owl-nav .owl-prev svg,
#project_detail_slider .owl-nav .owl-next svg{
	font-size: 24px;
	color: #fff;
}

#project_detail_slider .owl-nav .owl-prev:hover,
#project_detail_slider .owl-nav .owl-next:hover{
	background: #E30016;
}

#project_detail_slider .owl-nav .owl-prev:focus,
#project_detail_slider .owl-nav .owl-next:focus{
	outline: none;
}

.project_details_content{
	display: inline-block;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	padding: 70px 0 90px;
}

.project_details_content .project_right_detail{
	flex: 0 0 30%;
	max-width: 30%;
}

.project_left_detail{
	flex: 0 0 70%;
	max-width: 70%;
}

.project_right_detail .info_content .name{
	font-size: 25px;
	font-weight: 200;
	line-height: 35px;
	margin-bottom: 15px;
}

.project_right_detail .info_content .locality,
.project_right_detail .info_content .size,
.project_right_detail .info_content .yr{
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	color: #414141;
}

.project_left_detail .project_description{
	font-size: 18px;
	font-weight: 300;
	line-height: 31px;
	color: #414141;
}

.youtube_video{
	padding-bottom: 30px;
	border-bottom: 1px solid #E30016;
}

.youtube_video iframe{
	height: 532px;
	width: 100%;
}

.floor_plan_area{
	text-align: center;
	padding: 30px 0;
}
.floor_plan_area .team_credit{
	color: #414141;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	padding: 70px 0 100px;
}

/* Studio Css */
.studio_area{
	padding: 150px 0 100px;
}

.inner_our_principal_partner, .inner_our_award{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.studio_area .sec_header{
	margin-bottom: 70px;
}

.inner_our_award{
	flex-direction: row-reverse;
}

.inner_our_principal_partner .pricipal_partner_img,
.inner_our_award .our_award_img{
	flex: 0 0 55%;
	max-width: 55%;
}

.inner_our_principal_partner .principal_partner_content,
.inner_our_award .our_award_content{
	flex: 0 0 45%;
	max-width: 45%;
}

.inner_our_principal_partner .principal_partner_content{
	padding-left: 75px;
}

.inner_our_award .our_award_content{
	padding-right: 75px;
}

.principal_partner_content p,
.our_award_content p{
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
}

.principal_partner_content a,
.our_award_content a{
	color: #E30016;
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	display: inline-block;
	margin-top: 15px;
}

.studio_area .sec_header{
	text-align: center;
}

/* Detailed Pricipal & Partner Css */
.inner_introduction_pricipal_partner{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	height: 100vh;
}

.inner_introduction_pricipal_partner .introduction_pricipal_partner_content{
	flex: 0 0 45%;
	max-width: 45%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}


.inner_introduction_pricipal_partner .introduction_pricipal_partner_content p{
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
	width: 70%;
	
}


.inner_introduction_pricipal_partner .introduction_pricipal_partner_img{
	flex: 0 0 55%;
	max-width: 55%;
	/* background: url('../image/studio_01.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom; */
	overflow: hidden;
	height: 100vh;
}

.inner_introduction_pricipal_partner .introduction_pricipal_partner_img img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position: relative;
	object-position: bottom;
}

.inner_principals_main{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	padding: 170px 0 90px;
}

.principal_header-02{
	display: none;
}

.inner_principals_main .left_principal_main,
.inner_principals_main .right_principal_main{
	flex: 0 0 50%;
	max-width: 50%;
}

.inner_principals_main .left_principal_main{
 padding-right: 40px;
}

.inner_principals_main .right_principal_main{
	padding-left: 40px;
}

.inner_principals_main .left_principal_main img,
.inner_principals_main .right_principal_main img{
	width: 100%;
}

.inner_principals_main .left_pricipal_content, .inner_principals_main .right_pricipal_content{
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
	color: #414141;
}

/* Our Team */
.our_team_area .sec_header h3{
	text-align: center;
	margin-bottom: 25px;
	color: #000;
}

.our_team_area .our_team_content{
	padding: 200px 0;
}

.our_team_area .our_team_content p{
	font-weight: 300;
	font-size: 25px;
	line-height: 47px;
	text-align: center;
	color: #414141;
	width: 50%;
	margin: 0 auto;
}

.team_partners{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
	flex-wrap: wrap;
}

.team_partners .individual_column{
	flex: 0 0 25%;
	max-width: 25%;
	margin-bottom: 50px;
}

.team_partners .individual_column .partner_img{
	height: 386px;
}

.team_partners .individual_column .partner_img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.team_partners .individual_column:not(:nth-child(4)){
	padding-right: 20px
}

.team_partners .individual_column .partner_content .author{
	font-weight: 300;
	font-size: 15px;
	color: #000;
	line-height: 28px;
	margin-top: 8px;
}

.team_partners .individual_column .partner_content .designation{
	font-weight: 200;
	font-size: 15px;
	color: #000;
	line-height: 28px;
}

/* Awards Area */
.award_area{
	padding: 100px 0 30px;
}

.award_area .sec_header{
	text-align: center;
	margin-bottom: 70px;
}

.accordion_card .accordion_header h3{
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
	color: #414141;
}

.accordion_area{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
}

.accordion_card{
	flex: 0 0 47%;
	max-width: 47%;
	margin-bottom: 50px;
}

.accordion_card .accordion_header{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	padding: 0;
	border-bottom: 1px solid #000;
	cursor: pointer;
}

.accordion_card .accordion_header.active{
	color: #E30016;
	border-bottom: 0.3px solid #E30016;
}

.accordion_card .accordion_header svg{
	transition: 0.5s ease-in-out all;
}

.accordion_card .accordion_header svg.rotation{
	transform: rotate(180deg);
}

.accordion_card .accordion_content{
	padding: 10px 0;
	display: none;
}

.accordion_card .accordion_content.showContent{
	display: block;
}

/* Contact Form Css */
.inner_contact_sec{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	padding: 100px 0 180px;
}

.inner_contact_sec .contact_info,
.inner_contact_sec .contact_form{
	flex: 0 0 50%;
	max-width: 50%;
}

.inner_contact_sec .contact_info{
	padding-right: 45px;
}

.inner_contact_sec .contact_form{
	padding-left: 45px;
}

.contact_description{
	margin: 10px 0 50px;
}

.contact_description .phone,
.contact_description .email{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.contact_description .phone span:nth-child(1),
.contact_description .email span:nth-child(1){
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	color: #414141;
	flex: 0 0 30%;
	max-width: 30%;
	border-right: 1px solid #000;
}

.contact_description .phone span a,
.contact_description .email span a{
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	color: #E30016;
	text-decoration: none;
}

/* .contact_description .phone span,
.contact_description .email span{
	border-right: 1px solid #000;
} */

.contact_description .phone span:nth-child(2),
.contact_description .email span:nth-child(2){
	padding-left: 35px;
}

.office_add{
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	color: #414141;
	margin-bottom: 8px;
}

.navigation_link{
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	color: #E30016;
	display: inline-block;
	margin-bottom: 50px;
	text-decoration: none;
}

.office_list{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
}

.office_list span{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.office_list span a{
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	text-decoration: none;
	color: #E30016;
	margin-bottom: 7px;
	display: inline-block;
}

.enquiry_para{
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	color: #414141;
	margin-bottom: 45px;
}

.contact_form form input{
	width: 90%;
	border: none;
	border-bottom: 0.3px solid #000;
	height: 35px;
	margin-bottom: 18px;
}

.contact_form form input:focus{
	border: none;
	border-bottom: 0.3px solid #E30016;
	outline: none;
}

.contact_form form input::placeholder,
.contact_form form input{
	font-weight: 200;
	font-size: 18px;
	line-height: 27px;
	color: #414141;
}


.contact_form form button{
	border: 1px solid #E30016;
	height: 35px;
	width: 105px;
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	color: #E30016;
	background: transparent;
	margin-top: 25px;
	border-radius: 100px;
}

.contact_form form button:focus{
	border: 1px solid #E30016;
	outline: none;
	box-shadow: none;
}

/* News Area Css */
.news_announcement_area{
	padding: 180px 0 80px;
}

.news_announcement_area .sec_header{
	margin-bottom: 70px;
}

.news_announcement_area .sec_header h3{
	text-align: center;
}


.news_flex_area{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
}

.news_column{
	flex: 31%;
	max-width: 31%;
	margin-bottom: 60px;
}

.news_column .news_img{
	height: 350px;
	overflow: hidden;
	position: relative;
}

.news_column .news_img::after{
	content: '';
	position: absolute;
	z-index: 9;
	height: 100%;
	width: 100%;
	background: #000;
	display: block;
	left: 0;
	top: -100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in-out all;
}


.news_column .news_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.news_column .news_content{
	padding: 8px 0;
}

.news_column .news_content .news_date,
.news_column .news_content .news_para{
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
}


.news_column .news_content .news_para{
	line-height: 25px;
}


.readMore{
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	display: inline-block;
	border: 1px solid #fff;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	padding: 8px 12px;
	text-decoration: none;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in-out all;
	width: 112px;
}

.readMore:hover{
	text-decoration: none;
	color: #E30016;
	border: 1px solid #E30016;
}

.news_column:hover .news_img::after{
	opacity: 0.6;
	visibility: visible;
	top: 0;
}

.news_column:hover .news_img .readMore{
	opacity: 1;
	visibility: visible;
	top: 50%;
}

/* News Details Css */
.news_details_area .news_banner{
	height: 80vh;
	overflow: hidden;
}

.news_details_area .news_banner img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}

.news_details_area .news_date{
	padding: 10px 0;
	font-weight: 300;
}

.news_details_content{
	margin-bottom: 150px;
}

.news_details_content h3{
	font-weight: 300;
	font-size: 38px;
	line-height: 54px;
	text-align: center;
	margin: 20px 0 30px;
}

.news_details_content p{
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	width: 70%;
	margin: 0 auto;
}

.news_details_gallary{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 70px;
}

.news_details_gallary .img_gallary_column{
	flex: 0 0 48%;
	max-width: 48%;
	overflow: hidden;
	height: 350px;
}

.news_details_gallary .img_gallary_column img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

/* Blogs Css */
.blogs_listing_area{
	padding: 180px 0 40px;
}

.blogs_listing_area .sec_header{
	margin-bottom: 70px;
}

.blogs_listing_area .sec_header h3{
	text-align: center;
}

.blogs_flex_area{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
}

.blogs_flex_area .blog_column{
	flex: 31%;
	max-width: 31%;
	margin-bottom: 60px;
}

.blogs_flex_area .blog_column .blog_img{
	height: 430px;
	overflow: hidden;
	position: relative;
}

.blogs_flex_area .blog_column .blog_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.blogs_flex_area  .blog_content .blog_name,
.blogs_flex_area  .blog_content .blog_name a{
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	color: #414141;
	text-decoration: none;
}

.blogs_flex_area  .blog_content .blog_name{
	margin: 8px 0 6px;
}

.blogs_flex_area  .blog_content .blog_date_category,
.blogs_flex_area  .blog_content .blog_date_category span{
	font-size: 15px;
	font-weight: 300;
	line-height: 28px;
}

.blogs_flex_area  .blog_content .blog_date_category span:nth-child(1){
	padding-right: 15px;
	border-right: 1px solid #414141;
}

.blogs_flex_area  .blog_content .blog_date_category span:nth-child(2){
	padding-left: 15px;
}

.blogs_flex_area  .blog_content .blog_description p{
	font-size: 15px;
	font-weight: 300;
	line-height: 31px;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.blogs_flex_area  .blog_content .blog_description a.blogReadMore{
	font-size: 15px;
	font-weight: 300;
	line-height: 28px;
	text-decoration: none;
	color: #E30016;
}


/* Blog Details Css */
.blogs_banner{
	height: 100vh;
}

.blogs_details_area{
	margin-bottom: 40px;
}

.blogs_banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.blogs_breadcrumb{
	padding: 10px 0;
}

.blogs_breadcrumb a{
	text-decoration: none;
	color: #414141;
	font-size: 15px;
	font-weight: 200;
	line-height: 28px;
}

.blogs_breadcrumb a.currentBlog{
	color: #E30016;
}

.blogs_details_content{
	margin: 50px 0 100px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
}

.blogs_details_content .blog_details_left{
	flex: 0 0 60%;
	max-width: 60%;
}

.blogs_details_content .blog_details_right{
	flex: 0 0 40%;
	max-width: 40%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
	flex-direction: column;
}

.blogs_details_content .blog_details_left .blog_title{
	font-weight: 300;
	font-size: 38px;
	line-height: 54px;
	margin-bottom: 40px;
}

.blogs_details_content .blog_details_left p{
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}

.blogs_details_content .blog_details_right .specifc_category_blogs_list,
.blogs_details_content .blog_details_right .blogs_category{
	width: 300px;
	background: #fcfcfc;
	max-width: 100%;
	padding: 20px;
}

.blogs_details_content .blog_details_right .specifc_category_blogs_list .category_blog_list,
.blogs_details_content .blog_details_right .blogs_category .category_header{
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #414141;
	margin-bottom: 10px;
}

.blogs_details_content .blog_details_right .specifc_category_blogs_list .list_blogs li a,
.blogs_details_content .blog_details_right .blogs_category .category_list li a{
	font-weight: 200;
	font-size: 15px;
	line-height: 28px;
	color: #E30016;
	text-decoration: none;
	margin-bottom: 5px;
	display: inline-block;
}


.blogs_details_area .youtube_video{
	border-bottom: none;
}

/* Careers Css */
.career_main_info{
	height: 100vh;
}

.inner_main_career_info{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	height: 100%;
}

.inner_main_career_info .career_company_img{
	flex: 0 0 60%;
	max-width: 60%;
}

.inner_main_career_info .career_company_img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.inner_main_career_info .career_company_content{
	flex: 0 0 40%;
	max-width: 40%;
	padding-left: 40px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-direction: column;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.inner_main_career_info .career_company_content .career_para{
	margin-top: 20px;
	width: 80%;
}

.inner_main_career_info .career_company_content .career_para p{
	font-weight: 300;
	font-size: 18px;
	line-height: 34px;
}

.career_form form .form_element{
	margin-bottom: 20px;
	position: relative;
}

.career_form form .form_element input{
	width: 100%;
	border: 0;
	border-bottom: 1px solid #000;
	color: #8c8c8c;
	font-weight: 200;
	font-size: 18px;
	padding: 8px 0;
	background: transparent;
}

.career_form form .form_element input::placeholder{
	color: #8c8c8c;
	font-weight: 200;
	font-size: 18px;
}

.career_form form .form_element input:focus{
	border: 0;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid #E30016;
}

.sort_box{
	padding: 8px 0;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	cursor: pointer;
	border-bottom: 1px solid #000;
}

.sort_box p{
	margin-bottom: 0;
	color: #8c8c8c;
	font-weight: 200;
	font-size: 18px;
}

.sort_option_area{
	display: none;
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 10;
}

.sort_option_area.showSort{
	display: block;
}

.sort_option_area ul{
	margin-bottom: 0;
	border: 1px solid #d3d3d3;
}

.sort_option_area ul li{
	padding: 8px;
	cursor: pointer;
	color: #8c8c8c;
	font-weight: 200;
	font-size: 18px;
}

.sort_option_area ul li:hover{
	background: #E30016;
	color: #fff;
}

.career_form{
	padding: 55px 0;
	background: #fcfcfc;
}

#coverLetter, #cvLetter{
	display: none;
}

.cover_letter label:nth-child(1), .resume label:nth-child(1){
	color: #8c8c8c;
	color: #8c8c8c;
	font-weight: 200;
	font-size: 18px;
	display: block;
	margin-bottom: 15px;
}

.uploadFile svg{
	font-size: 24px;
	color: #E30016;
	cursor: pointer;
}

.career_form .sec_header{
	text-align: center;
}

.career_form form{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
}

.career_form form .form_element{
	flex: 0 0 46%;
	max-width: 46%;
}

.letter-flex{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	margin-top: 15px;
}

.cover_letter, .resume{
	flex: 0 0 50%;
	max-width: 50%;
}

.career_success_story{
	margin: 100px 0;
}

.career_success_story .career_success_header{
	margin: 0 0 45px;
}

.career_success_story .career_success_header h3{
	font-weight: 300;
	line-height: 72px;
	font-size: 38px;
	text-align: center;
}

.career_success_story .sucess_story_points ul{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
	flex-wrap: wrap;
}

.career_success_story .sucess_story_points ul li{
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	padding: 0 20px;
	border-right: 1px solid #E30016;
	margin-bottom: 30px;
}

.career_success_story .sucess_story_points ul li:nth-child(1),
.career_success_story .sucess_story_points ul li:nth-child(5){
	padding-left: 0;
}
.career_success_story .sucess_story_points ul li:nth-child(4),
.career_success_story .sucess_story_points ul li:nth-child(8){
	padding-right: 0;
	border-right: none;
}

.career_footer_sec img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}