html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Outfit', sans-serif;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sec_header h3{
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	color: #414141;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
}

/* Header Css */
header{
	height: 0%;
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	transition: .65s ease-in-out all;
}

header.showHeader{
	height: 100%;
}

nav{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	flex-wrap: wrap;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .75s ease-in-out all;
}

nav.showNav{
	opacity: 1;
	visibility: visible;
}

.firstLink, .lastLink{
	flex: 0 0 100%;
    max-width: 100%;
    height: 50%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.firstLink a, .lastLink a{
	text-decoration: none;
	color: #383336;
	font-family: 'Outfit', sans-serif;
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;
}

.middleLinks{
	margin-bottom: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.middleLinks li a{
	text-decoration: none;
	color: #383336;
	font-family: 'Outfit', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 46px;
	text-transform: uppercase;
}

.middleLinks li:not(:last-child){
	margin-right: 60px;
}

.nav-toggler{
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 99;
	cursor: pointer;
}

.close_navbar{
	position: absolute;
	cursor: pointer;
	height: 40px;
	width: 40px;
	border: 1px solid #E30016;
	border-radius: 100px;
	z-index: 100;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.close_navbar svg{
	color: #E30016;
	font-size: 30px;
}

/* Slider Css */
.slider_area,
#home_slider,
#home_slider .owl-stage-outer,
#home_slider .owl-stage-outer .owl-stage,
#home_slider .owl-stage-outer .owl-stage .owl-item,
#home_slider .owl-stage-outer .owl-stage .owl-item .item{
	height: 100vh;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item{
	position: relative;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item.opacity_slide::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	display: block;
	z-index: 0;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item img{
	height: 100vh;
	object-fit: cover;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	flex-wrap: wrap;
	z-index: 1;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text{
	flex: 0 0 100%;
    max-width: 100%;
    height: 50%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

#home_slider .owl-stage-outer .owl-stage .owl-item .item .slider-content .slider-text a{
	text-decoration: none;
	color: #fff;
	font-family: 'Outfit', sans-serif;
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;
}

#home_slider .owl-dots{
	margin-top: 0;
	position: absolute;
	width: 100%;
	bottom: 20px;
}

#home_slider .owl-dots .owl-dot:focus{
	border: none;
	box-shadow: none;
	outline: none;
}

#home_slider .owl-dots .owl-dot{
	/* pointer-events: none; */
	position: relative;
}

#home_slider .owl-dots .owl-dot.active span{
	background: #E30016;
}

#home_slider .owl-dots .owl-dot:not(:last-child).active::after{
	content: '';
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 15px;
	background: #fff;
}

#home_slider .owl-dots .owl-dot:not(:last-child).active::before{
	content: '';
	position: absolute;
	left: 17px;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	background: #E30016;
	z-index: 1;
	animation: fill 5s linear;
}

#home_slider .owl-dots .owl-dot span{
	background: transparent;
	border: 1px solid #fff;
}


  
  @keyframes fill {
	0% {
	  width: 0%;
	}
	100% {
	  width: 15px;
	}
}

/* Introduction Css */
.introduction_area{
	padding: 280px 0;
	background: url('../image/spiral_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.introduction_area .intro_txt h3{
	font-family: 'Outfit', sans-serif;
	font-size: 38px;
	line-height: 62px;
	text-align: center;
	color: #000;
}

.introduction_area .intro_txt p{
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	line-height: 31px;
	color: #414141;
	text-align: center;
	width: 90%;
    margin: 20px auto 0;
}

/* Featured Project Css */
.featured_area{
	height: 100vh;
	/* background: #414141; */
}

#feature_slider,
#feature_slider .owl-stage-outer,
#feature_slider .owl-stage-outer .owl-stage,
#feature_slider .owl-stage-outer .owl-stage .owl-item{
	height: calc(100vh - 52px);
}

#feature_slider .owl-stage-outer .owl-stage .owl-item .item img{
	height: calc(100vh - 85px);
	object-fit: cover;
}

#feature_slider .owl-stage-outer .owl-stage .owl-item .item{
	height: calc(100vh - 85px);
}


#feature_slider .owl-stage-outer .owl-stage .owl-item .item .feature_text{
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	color: #414141;
	letter-spacing: 1.5px;
	margin-top: 10px;
}


#feature_slider .owl-nav {
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: -2px;
}

#feature_slider .owl-nav button::after{
	content: '';
	width: 15px;
	height: 15px;
	background: #414141;
	opacity: 0.5;
	position: absolute;
	border-radius: 100px;
	display: none;
}

#feature_slider .owl-nav button{
	background: none;
}

#feature_slider .owl-nav button:focus{
	background: none;
	box-shadow: none;
	border: none;
	outline: none;
}

#feature_slider .owl-nav button.owl-prev::after{
	left: 0px;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
}

#feature_slider .owl-nav button.owl-prev:hover::after{
	display: block;
}

#feature_slider .owl-nav button.owl-next::after{
	right: 0px;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
}

#feature_slider .owl-nav button.owl-next:hover::after{
	display: block;
}

/* Projects Area Css */
.projects_area{
	padding: 100px 0 80px;
}

.project_list{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.project_list .project_column{
	flex: 0 0 48%;
	max-width: 48%;
	height: 600px;
	margin-bottom: 40px;
	position: relative;
}

.project_list .project_column::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	visibility: 0;
	transition: 0.3s ease all;
}



.project_list .project_column .project_img{
	overflow: hidden;
	height: 100%;
}

.project_list .project_column .project_img a{
	display: block;
	height: 100%;
}

.project_list .project_column .project_img img{
	width: 100%;
	max-width: unset !important;
	object-fit: cover;
	height: 100%;
	transition: 0.5s ease all;
}

.project_name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	height: 100%;
}

.project_name a{
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 27px;
	opacity: 0;
	visibility: 0;
	transition: 0.5s ease all;
	text-decoration: none;
	letter-spacing: 1.5px;
	width: 100%;
	height: 100%;
	display: inline-block;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}


.project_list .project_column:hover::before{
	opacity: 0.36;
	z-index: 1;
}


.project_list .project_column:hover .project_name a{
	opacity: 1;
	visibility: 1;
}

.project_list .project_column:hover .project_img img{
	transform: scale(1.1);
}

/* Footer Css */
.inner_footer{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	font-size: 13px;
	padding: 20px 0;
}

.footer_right_sec{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	color: #383336;
}

.tel_div, .email_div{
	margin-right: 30px;
}

.tel_div a, .email_div a{
	color: #383336;
	text-decoration: none;
}

.email_div a{
	text-transform: uppercase;
}

.footer_right_sec .social_link ul{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.footer_right_sec .social_link ul li{
	height: 26px;
	width: 26px;
	border: 1px solid #383336;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.footer_right_sec .social_link ul li a{
	color: #383336;
}

.footer_right_sec .social_link ul li:not(:last-child){
	margin-right: 10px;
}